img {
    width: 100%;
}
a {
    color: inherit;
}

body {
    min-width: 1100px;
    min-height: 1500px;

    margin: auto;
    font-family: Raleway, sans-serif;
    max-width: 1440px;
}



h1,
h2,
h3,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}