
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    gap: 10px;
    padding: 92px 50px 91px 50px;
}
.header__logo {
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    font-size: 18px;
    list-style: circle;
}
.header__links-list-item:first-of-type {
    list-style: none;
}

.header__link {
    text-decoration-thickness: 1px;
    text-underline-offset: 3.5px;
}

.header__link_active {
    text-decoration: none;
}

.header__address {
    max-width: 170px;
    justify-self: end;
}
.cover {
    position: relative;
    padding: 50px;
    color: white;
    background: url(../images/cover.jpg) center / cover;
}

.lots {
    padding: 180px 50px 90px 50px;
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 90px 50px;
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 90px 50px;
    font-size: 18px;
}